@charset "utf-8";
/* CSS Document */
.header {
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}
.header.on {
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
}
.header .logo {
  top: 20px;
  left: 100px;
  z-index: 2;
}
.header .menu1 {
  right: 100px;
  top: 20px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}
.header .menu1 img {
  margin-left: 10px;
}
.banner {
  width: 100%;
  position: relative;
}
.banner .owl-theme .owl-controls {
  margin-top: 0;
}
.banner .banner_bot {
  bottom: 70px;
  left: 0;
  width: 100%;
  z-index: 21;
}
.banner .banner_bot .fl {
  height: 32px;
  padding-top: 15px;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
}
.banner .banner_bot .fl .cur {
  top: -13px;
  left: 0;
  width: 20px;
  text-align: center;
}
.banner .banner_bot .fl .sum {
  bottom: -10px;
  left: 0;
  width: 20px;
  text-align: center;
}
.banner .banner_bot .fl .hengxian {
  width: 362px;
  height: 1px;
  background: url(../images/hengxian.png) no-repeat center center;
}
.banner .banner_bot .fl .banner_next {
  position: absolute;
  left: 100%;
  width: 140px;
  top: 0;
  line-height: 32px;
  font-size: 16px;
  padding-left: 15px;
  cursor: pointer;
}
.banner .banner_bot .fl .banner_next:hover img {
  margin-left: 15px;
}
.banner .banner_bot .fl .banner_next img {
  margin-left: 8px;
}
.banner .banner_bot .fr {
  color: #fff;
  font-size: 31px;
  line-height: 32px;
  position: relative;
  top: -3px;
}
.banner .banner_bot .fr .hengxian {
  margin-right: 40px;
  width: 300px;
  height: 1px;
  background: #fff;
}
.banner #owl-demo1 .item {
  display: block;
}
.banner #owl-demo1 .item .item_abs {
  width: 100%;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.banner #owl-demo1 .item .item_abs .icon img {
  width: auto!important;
}
.banner #owl-demo1 .item .item_abs .tit {
  color: #ffffff;
  font-size: 57px;
  line-height: 60px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.banner #owl-demo1 .item .item_abs .note {
  color: #ffffff;
  font-size: 24px;
  line-height: 30px;
}
.banner #owl-demo1 .item .item_abs .hengxian {
  background-color: #ca0a15;
  width: 34px;
  height: 5px;
  margin-top: 50px;
}
.sec_main {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin-top: 50px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.section {
  position: relative;
  overflow: hidden;
}
.section2 {
  background: #efefef;
}
.section2 .sec2_bg {
  width: 41.6%;
  height: 100%;
  background-size: cover!important;
}
.section2 .sec_main {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin-top: 50px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.section2 .sec_main .sec_m {
  width: 860px;
  padding-left: 165px;
}
.section2 .sec_main .sec_m .note {
  color: rgba(0, 0, 0, 0.7);
  font-size: 17px;
  margin-top: 60px;
}
.section2 .sec_main .sec_m .cont {
  margin-top: 75px;
}
.section2 .sec_main .sec_m .cont .item {
  width: 25%;
}
.section2 .sec_main .sec_m .cont .item .num1 {
  color: #000000;
  font-size: 53px;
  line-height: 53px;
}
.section2 .sec_main .sec_m .cont .item .tit1 {
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  line-height: 16px;
  margin-top: 10px;
}
.section2 .sec_main .sec_m .cont1 {
  background: #fff;
  margin-left: -280px;
  margin-top: 45px;
  padding: 35px;
}
.section2 .sec_main .sec_m .cont1 .item {
  width: 25%;
}
.section2 .sec_main .sec_m .cont1 .item .tit1 {
  color: #000000;
  font-size: 16px;
  margin-top: 10px;
}
.section2 .sec_main .sec_m .more a {
  background: url(../images/hengxian1.png) no-repeat 120px center #ca0a15;
  width: 207px;
  height: 60px;
  line-height: 60px;
  padding-left: 30px;
  text-align: left;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
}
.index_tit .tit {
  color: #000000;
  font-size: 36px;
  line-height: 36px;
  position: relative;
  z-index: 1;
}
.index_tit .tit1 {
  color: rgba(0, 0, 0, 0.1);
  font-size: 74px;
  line-height: 74px;
  text-transform: uppercase;
  margin-top: -18px;
}
.index_tit .hengxian {
  background-color: #ca0a13;
  width: 32px;
  height: 4px;
  margin-top: 5px;
}
.section7 {
  background: #232323;
}
.section7 .footer {
  padding: 80px 0 50px;
  padding-right: 380px;
  position: relative;
}
.section7 .footer .footer_left .item {
  width: 25%;
}
.section7 .footer .footer_left .item .tit a {
  color: #ffffff;
  font-size: 18px;
}
.section7 .footer .footer_left .item ul {
  margin-top: 20px;
  margin-bottom: 0;
}
.section7 .footer .footer_left .item ul li {
  line-height: 2;
}
.section7 .footer .footer_left .item ul li a {
  color: rgba(255, 255, 255, 0.2);
  font-size: 15px;
}
.section7 .footer .footer_right {
  position: absolute;
  top: 80px;
  right: 0;
  width: 310px;
}
.section7 .footer .footer_right .tit {
  color: #ffffff;
  font-size: 18px;
}
.section7 .footer .footer_right .cont {
  margin-top: 25px;
}
.section7 .footer .footer_right .cont .item {
  width: 140px;
}
.section7 .footer .footer_right .cont .item .pic img {
  width: 100%;
}
.section7 .footer .footer_right .cont .item .tit1 {
  color: rgba(255, 255, 255, 0.2);
  font-size: 15px;
  margin-top: 10px;
  text-align: center;
}
.section7 .copyRight {
  color: rgba(255, 255, 255, 0.05);
  padding-top: 35px;
  padding-bottom: 35px;
  line-height: 20px;
  font-size: 16px;
  border-top: solid 1px rgba(255, 255, 255, 0.1);
}
.section7 .copyRight a {
  color: rgba(255, 255, 255, 0.05);
}
.section7 .copyRight .dib {
  margin-right: 10px;
}
.section7 .copyRight .fr a {
  margin-left: 20px;
}
