@charset "utf-8";
/* CSS Document */
.header {
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}
.header.on,
.header.header1 {
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
}
.header .logo {
  top: 20px;
  left: 100px;
  z-index: 2;
}
.header .menu1 {
  right: 100px;
  top: 20px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}
.header .menu1 img {
  margin-left: 10px;
}
.banner {
  width: 100%;
  position: relative;
}
.banner .owl-theme .owl-controls {
  margin-top: 0;
}
.banner .banner_bot {
  bottom: 70px;
  left: 0;
  width: 100%;
  z-index: 21;
}
.banner .banner_bot .fl {
  height: 32px;
  padding-top: 15px;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
}
.banner .banner_bot .fl .cur {
  top: -13px;
  left: 0;
  width: 20px;
  text-align: center;
}
.banner .banner_bot .fl .sum {
  bottom: -10px;
  left: 0;
  width: 20px;
  text-align: center;
}
.banner .banner_bot .fl .hengxian {
  width: 362px;
  height: 1px;
  background: #ca0a13;
}
.banner .banner_bot .fl .hengxian .inner {
  width: 0;
  height: 1px;
  background: #fff;
}
.banner .banner_bot .fl .hengxian .inner.on {
  width: 100%;
  -webkit-transition: all 5s linear;
  transition: all 5s linear;
}
.banner .banner_bot .fl .banner_next {
  position: absolute;
  left: 100%;
  width: 140px;
  top: 0;
  line-height: 32px;
  font-size: 16px;
  padding-left: 15px;
  cursor: pointer;
}
.banner .banner_bot .fl .banner_next:hover img {
  margin-left: 15px;
}
.banner .banner_bot .fl .banner_next img {
  margin-left: 8px;
}
.banner .banner_bot .fr {
  color: #fff;
  font-size: 31px;
  line-height: 32px;
  position: relative;
  top: -3px;
}
.banner .banner_bot .fr .hengxian {
  margin-right: 40px;
  width: 300px;
  height: 1px;
  background: #fff;
}
.banner #owl-demo1 .item {
  display: block;
}
.banner #owl-demo1 .item .item_abs {
  width: 100%;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.banner #owl-demo1 .item .item_abs .icon img {
  width: auto!important;
}
.banner #owl-demo1 .item .item_abs .tit {
  color: #ffffff;
  font-size: 57px;
  line-height: 60px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.banner #owl-demo1 .item .item_abs .note {
  color: #ffffff;
  font-size: 24px;
  line-height: 30px;
}
.banner #owl-demo1 .item .item_abs .hengxian {
  background-color: #ca0a15;
  width: 34px;
  height: 5px;
  margin-top: 50px;
}
.sec_main {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin-top: 50px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.section {
  position: relative;
  overflow: hidden;
}
.sec_main {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin-top: 50px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.section2 {
  background: #efefef;
}
.section2 .sec2_bg {
  width: 41.6%;
  height: 100%;
  background-size: cover!important;
}
.section2 .sec_main .sec_m {
  width: 860px;
  padding-left: 165px;
}
.section2 .sec_main .sec_m .note {
  color: rgba(0, 0, 0, 0.7);
  font-size: 17px;
  margin-top: 60px;
}
.section2 .sec_main .sec_m .cont {
  margin-top: 75px;
}
.section2 .sec_main .sec_m .cont .item {
  width: 25%;
}
.section2 .sec_main .sec_m .cont .item .num1 {
  color: #000000;
  font-size: 53px;
  line-height: 53px;
}
.section2 .sec_main .sec_m .cont .item .tit1 {
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  line-height: 16px;
  margin-top: 10px;
}
.section2 .sec_main .sec_m .cont1 {
  background: #fff;
  margin-left: -280px;
  margin-top: 45px;
  padding: 35px;
}
.section2 .sec_main .sec_m .cont1 .item {
  width: 25%;
}
.section2 .sec_main .sec_m .cont1 .item .tit1 {
  color: #000000;
  font-size: 16px;
  margin-top: 10px;
}
.section2 .sec_main .sec_m .more a {
  background: url(../images/hengxian1.png) no-repeat 120px center #ca0a15;
  width: 207px;
  height: 60px;
  line-height: 60px;
  padding-left: 30px;
  text-align: left;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
}
.index_tit .tit {
  color: #000000;
  font-size: 36px;
  line-height: 36px;
  position: relative;
  z-index: 1;
}
.index_tit .tit1 {
  color: rgba(0, 0, 0, 0.1);
  font-size: 74px;
  line-height: 74px;
  text-transform: uppercase;
  margin-top: -18px;
}
.index_tit .hengxian {
  background-color: #ca0a13;
  width: 32px;
  height: 4px;
  margin-top: 5px;
}
.index_tit.style1 .tit {
  color: #fff;
}
.index_tit.style1 .tit1 {
  color: rgba(255, 255, 255, 0.1);
}
.index_tit1 .num1 {
  color: #ca0a15;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
}
.index_tit1 .hengxian {
  background-color: #000000;
  opacity: 0.302;
  width: 138px;
  height: 2px;
  margin-top: 12px;
  margin-bottom: 12px;
}
.index_tit1 .note {
  color: rgba(0, 0, 0, 0.5);
  font-size: 22px;
  line-height: 22px;
  text-transform: uppercase;
}
.index_tit1.style1 .hengxian {
  background-color: #ffffff;
}
.index_tit1.style1 .note {
  color: rgba(255, 255, 255, 0.5);
}
.section7 {
  background: #232323;
}
.section7 .footer {
  padding: 80px 0 50px;
  padding-right: 380px;
  position: relative;
}
.section7 .footer .footer_left .item {
  width: 25%;
}
.section7 .footer .footer_left .item .tit a {
  color: #ffffff;
  font-size: 18px;
}
.section7 .footer .footer_left .item ul {
  margin-top: 20px;
  margin-bottom: 0;
}
.section7 .footer .footer_left .item ul li {
  line-height: 2;
}
.section7 .footer .footer_left .item ul li a {
  color: rgba(255, 255, 255, 0.2);
  font-size: 15px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.section7 .footer .footer_left .item ul li a:hover {
  color: rgba(255, 255, 255, 0.8);
}
.section7 .footer .footer_right {
  position: absolute;
  top: 80px;
  right: 0;
  width: 310px;
}
.section7 .footer .footer_right .tit {
  color: #ffffff;
  font-size: 18px;
}
.section7 .footer .footer_right .cont {
  margin-top: 25px;
}
.section7 .footer .footer_right .cont .item {
  width: 140px;
}
.section7 .footer .footer_right .cont .item .pic img {
  width: 100%;
}
.section7 .footer .footer_right .cont .item .tit1 {
  color: rgba(255, 255, 255, 0.2);
  font-size: 15px;
  margin-top: 10px;
  text-align: center;
}
.section7 .copyRight {
  color: rgba(255, 255, 255, 0.05);
  padding-top: 35px;
  padding-bottom: 35px;
  line-height: 20px;
  font-size: 16px;
  border-top: solid 1px rgba(255, 255, 255, 0.1);
}
.section7 .copyRight a {
  color: rgba(255, 255, 255, 0.05);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.section7 .copyRight a:hover {
  color: rgba(255, 255, 255, 0.8);
}
.section7 .copyRight .dib {
  margin-right: 10px;
}
.section7 .copyRight .fr a {
  margin-left: 20px;
}
.section6 .sec_bot {
  margin-left: -55px;
  margin-right: -55px;
  margin-top: 30px;
  padding-bottom: 50px;
}
.section6 .sec_bot .owl-dots {
  display: block!important;
  position: absolute;
  bottom: -70px;
  left: 0;
  width: 100%;
  text-align: center;
}
.section6 .sec_bot .owl-dots .owl-dot {
  display: inline-block;
  float: none;
  margin-left: 7px;
  margin-right: 7px;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background: #dbdcd9;
}
.section6 .sec_bot .owl-dots .owl-dot.active {
  background: #ca0a15;
}
.section6 .sec_bot .item {
  padding: 50px 55px 0;
}
.section6 .sec_bot .item:hover {
  background: #efefef;
}
.section6 .sec_bot .item:hover .date {
  color: #ca0a15;
}
.section6 .sec_bot .item:hover .date .xiexian {
  background: url(../images/xiexian2.png) no-repeat center center;
}
.section6 .sec_bot .item:hover .pic img {
  opacity: 1;
}
.section6 .sec_bot .item:hover .pic .more {
  border-color: #ca0a15;
  background: #ca0a15;
  color: #fff;
}
.section6 .sec_bot .item .date {
  color: rgba(57, 57, 57, 0.4);
  font-weight: bold;
  font-size: 18px;
}
.section6 .sec_bot .item .date span {
  font-size: 48px;
}
.section6 .sec_bot .item .date .xiexian {
  width: 24px;
  height: 26px;
  margin-left: 10px;
  display: inline-block;
  background: url(../images/xiexian.png) no-repeat center center;
}
.section6 .sec_bot .item .tit {
  height: 64px;
  margin-top: 35px;
}
.section6 .sec_bot .item .tit a {
  color: #232323;
  font-size: 26px;
  line-height: 32px;
}
.section6 .sec_bot .item .note {
  color: rgba(35, 35, 35, 0.6);
  font-size: 16px;
  line-height: 32px;
  overflow: hidden;
  height: 64px;
  margin-top: 40px;
}
.section6 .sec_bot .item .pic {
  margin-top: -64px;
  z-index: 2;
}
.section6 .sec_bot .item .pic img {
  width: 100%;
  opacity: 0;
}
.section6 .sec_bot .item .pic .more {
  border-style: solid;
  border-width: 2px;
  border-color: #cbcbcb;
  background-color: rgba(36, 36, 36, 0);
  width: 183px;
  height: 60px;
  text-align: center;
  line-height: 56px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 22px;
  text-transform: uppercase;
  bottom: 0;
  left: 0;
}
.section5 {
  background-size: cover!important;
}
.section5 .sec_main {
  background: url(../images/quanxian.png) repeat-x bottom;
  padding-bottom: 60px;
}
.section5 .sec_main .prev {
  background: url(../images/zuojiana1.png) no-repeat center center rgba(255, 255, 255, 0.1);
  position: absolute;
  width: 95px;
  height: 95px;
  left: -150px;
  top: 50%;
  margin-top: -47px;
  cursor: pointer;
}
.section5 .sec_main .prev:hover {
  background-color: #ca0a15;
}
.section5 .sec_main .next {
  background: url(../images/youjiana1.png) no-repeat center center rgba(255, 255, 255, 0.1);
  position: absolute;
  width: 95px;
  height: 95px;
  right: -150px;
  top: 50%;
  margin-top: -47px;
  cursor: pointer;
}
.section5 .sec_main .next:hover {
  background-color: #ca0a15;
}
.section5 .sec_main .sec_bot {
  margin-top: 45px;
}
.section5 .sec_main .sec_bot .item {
  overflow: hidden;
}
.section5 .sec_main .sec_bot .item .item1 {
  width: 25%;
  margin-top: -1px;
  margin-left: -1px;
  border-top: solid 1px rgba(255, 255, 255, 0.2);
  border-left: solid 1px rgba(255, 255, 255, 0.2);
  height: 210px;
  padding-top: 35px;
  padding-left: 35px;
  padding-right: 35px;
}
.section5 .sec_main .sec_bot .item .item1 .icon img {
  width: auto!important;
  max-width: 100%;
}
.section5 .sec_main .sec_bot .item .item1 .tit {
  color: #ffffff;
  font-size: 22px;
  line-height: 30px;
  margin-top: 15px;
}
.section5 .sec_main .sec_bot .item .item1 .note {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  margin-top: 15px;
}
.section4 {
  background-size: 1920px 100%!important;
}
.section4 .index_tit {
  top: 0;
  left: 15px;
}
.section4 .sec_nav {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}
.section4 .sec_nav ul li {
  color: rgba(0, 0, 0, 0.5);
  font-size: 30px;
  margin-top: 60px;
  margin-bottom: 60px;
  cursor: pointer;
}
.section4 .sec_nav ul li.on {
  color: #ca0a15;
}
.section4 .sec_nav ul li.on .icon .imggb {
  opacity: 1;
}
.section4 .sec_nav ul li .icon {
  width: 47px;
  height: 44px;
  margin-right: 20px;
}
.section4 .sec_nav ul li .icon .imggb {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.section4 .sec_m {
  width: 860px;
  overflow: hidden;
}
.section4 .sec_m .sec_m1 {
  width: 100%;
}
.section4 .sec_m .sec_m1 .sec_dot {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.section4 .sec_m .sec_m1 .sec_dot .ye {
  font-size: 26px;
  color: #979797;
}
.section4 .sec_m .sec_m1 .sec_dot .ye span {
  color: #ca0a15;
  font-weight: bold;
  margin-right: 5px;
}
.section4 .sec_m .sec_m1 .sec_dot .next {
  position: relative;
  top: 8px;
  margin-right: 30px;
  cursor: pointer;
}
.section4 .sec_m .sec_m1 .item:hover .pic > img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.section4 .sec_m .sec_m1 .item .pic span {
  bottom: 0;
  right: 0;
}
.section4 .sec_m .sec_m1 .item .tit {
  text-transform: uppercase;
  margin-top: 35px;
  margin-bottom: 25px;
}
.section4 .sec_m .sec_m1 .item .tit a {
  color: #000000;
  font-size: 24px;
}
.section4 .sec_m .sec_m1 .item .note .dib {
  color: rgba(0, 0, 0, 0.7);
  margin-right: 30px;
  font-size: 16px;
  text-transform: uppercase;
}
.section4 .sec_m .sec_m1 .item .note .dib img {
  width: 31px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.section3 .item {
  width: 25%;
  height: 100%;
  background-size: cover!important;
  position: relative;
  overflow: hidden;
}
.section3 .item .item_abs1 {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.section3 .item .item_abs1 .tit {
  text-transform: uppercase;
  color: #f1f1f1;
  font-family: "dincond";
  font-size: 36px;
  margin-top: 70px;
  margin-bottom: 15px;
}
.section3 .item .item_abs1 .note {
  color: rgba(255, 255, 255, 0.6);
  font-size: 20px;
}
.section3 .item .item_abs1 .xh {
  color: #ffffff;
  font-size: 34px;
  margin-top: 135px;
}
.section3 .item .item_abs2 {
  max-width: 660px;
  padding-left: 30px;
  padding-right: 30px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  opacity: 0;
}
.section3 .item .item_abs2 .xh {
  color: #ffffff;
  font-size: 34px;
}
.section3 .item .item_abs2 .tit {
  text-transform: uppercase;
  color: #f1f1f1;
  font-family: "dincond";
  font-size: 56px;
  margin-top: 10px;
  margin-bottom: 25px;
}
.section3 .item .item_abs2 .note {
  color: #ffffff;
  font-size: 26px;
  letter-spacing: 20px;
}
.section3 .item .item_abs2 .note1 {
  margin-top: 30px;
  margin-bottom: 100px;
}
.section3 .item .item_abs2 .note1 .shuxian {
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
}
.section3 .item .item_abs2 .note1 span {
  color: #ffffff;
  font-size: 16px;
  display: inline-block;
}
.section3 .item:nth-child(3) {
  position: absolute;
  right: 0;
  top: 0;
}
.section3 .item.on {
  width: 50%;
}
.section3 .item.on .item_bg {
  opacity: 1;
}
.section3 .item.on .item_abs1 {
  opacity: 0;
}
.section3 .item.on .item_abs2 {
  opacity: 1;
}
.section3 .item .item_bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  opacity: 0;
  background-size: cover!important;
}
.index_nav {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: none;
}
.index_nav .chacha {
  width: 30px;
  height: 30px;
  background: url(../images/chacha.png) no-repeat center center;
  position: absolute;
  top: 35px;
  right: 130px;
  cursor: pointer;
  z-index: 2;
}
.index_nav .logo {
  left: 100px;
  top: 25px;
  z-index: 2;
}
.index_nav .index_n {
  width: 100%;
  height: 100%;
}
.index_nav .index_n .item {
  width: 25%;
  height: 100%;
  position: relative;
}
.index_nav .index_n .item:hover {
  background: #eaeaea !important;
}
.index_nav .index_n .item:hover .item_abs .shuxian {
  background-color: #ca0a15 !important;
}
.index_nav .index_n .item:nth-child(2n+1) {
  background: #fafafa;
}
.index_nav .index_n .item .item_abs {
  height: 440px;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.index_nav .index_n .item .item_abs .tit {
  text-transform: uppercase;
  color: #ca0a13;
  font-size: 50px;
  font-weight: bold;
  line-height: 50px;
}
.index_nav .index_n .item .item_abs .tit1 {
  color: #000000;
  font-size: 22px;
  margin-top: 10px;
}
.index_nav .index_n .item .item_abs .shuxian {
  background-color: rgba(113, 113, 113, 0.5);
  width: 2px;
  height: 46px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.index_nav .index_n .item .item_abs ul li {
  line-height: 44px;
}
.index_nav .index_n .item .item_abs ul li a {
  color: rgba(0, 0, 0, 0.9);
  font-size: 18px;
  display: inline-block;
  position: relative;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.index_nav .index_n .item .item_abs ul li a:hover {
  color: #ca0a13;
}
.index_nav .index_n .item .item_abs ul li a:hover:before {
  opacity: 1;
  left: -45px;
}
.index_nav .index_n .item .item_abs ul li a:hover:after {
  opacity: 1;
  right: -45px;
}
.index_nav .index_n .item .item_abs ul li a:before {
  content: '';
  width: 28px;
  height: 2px;
  background: url(../images/hongxu1.png) no-repeat center center;
  position: absolute;
  left: -50px;
  top: 50%;
  margin-top: -1px;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.index_nav .index_n .item .item_abs ul li a:after {
  content: '';
  width: 28px;
  height: 2px;
  background: url(../images/hongxu2.png) no-repeat center center;
  position: absolute;
  right: -50px;
  top: 50%;
  margin-top: -1px;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.full_menu {
  position: fixed;
  top: 50%;
  left: 55px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 3;
}
.full_menu.on .pages1 {
  color: #333;
}
.full_menu.on ul li a {
  background: #333;
}
.full_menu .pages1 {
  height: 100px;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: left top;
  transform-origin: left top;
  position: relative;
  left: 22px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.full_menu ul li {
  width: 20px;
  height: 20px;
  position: relative;
  z-index: 3;
}
.full_menu ul li a {
  border-radius: 50%;
  background-color: #e1e1e1;
  width: 10px;
  height: 10px;
  display: block;
  margin-top: 12px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.full_menu ul li.active a {
  width: 10px;
  height: 10px;
  background: #ca0a13;
}
.body1 {
  padding-top: 100px;
}
.case_main {
  padding-top: 80px;
  padding-bottom: 60px;
}
.case_main .case_m {
  margin-top: 60px;
  padding-bottom: 5px;
}
.case_main .case_m .row {
  margin-left: -42px;
  margin-right: -42px;
}
.case_main .case_m .row .col-xs-12 {
  padding-left: 42px;
  padding-right: 42px;
  margin-bottom: 50px;
}
.case_main .case_m .row .col-xs-12 .item:hover .pic > img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.case_main .case_m .row .col-xs-12 .item .pic > img {
  width: 100%;
}
.case_main .case_m .row .col-xs-12 .item .pic .abs {
  right: 0;
  bottom: 0;
}
.case_main .case_m .row .col-xs-12 .item .cont {
  width: 390px;
  background: #f2f2f2;
  padding: 30px 30px 35px;
}
.case_main .case_m .row .col-xs-12 .item .cont .tit {
  text-transform: uppercase;
  margin-bottom: 25px;
}
.case_main .case_m .row .col-xs-12 .item .cont .tit a {
  color: #000000;
  font-size: 24px;
}
.case_main .case_m .row .col-xs-12 .item .cont .note .dib {
  color: rgba(0, 0, 0, 0.7);
  margin-right: 30px;
  font-size: 16px;
  text-transform: uppercase;
}
.case_main .case_m .row .col-xs-12 .item .cont .note .dib img {
  width: 31px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.ej_nav {
  font-size: 18px;
}
.ej_nav .more1 {
  position: absolute;
  right: 0;
  bottom: 20px;
  background-color: #ca0a15;
  width: 100px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  color: #fff;
}
.ej_nav .ej_cont {
  margin-left: 300px;
  margin-right: 120px;
  padding-top: 45px;
}
.ej_nav .ej_cont.ej_cont1 {
  margin-right: 0;
}
.ej_nav .ej_cont.ej_cont1 li a {
  width: 160px;
}
.ej_nav .ej_cont li {
  margin-right: 5px;
}
.ej_nav .ej_cont li a {
  background-color: #c7c7c7;
  width: 116px;
  height: 36px;
  line-height: 36px;
  color: #000000;
  display: block;
  text-align: center;
}
.ej_nav .ej_cont li a:hover,
.ej_nav .ej_cont li a.on {
  color: #fff;
  background: #ca0a15;
}
.ej_more a {
  background-color: #f2f2f2;
  width: 100%;
  height: 80px;
  text-align: center;
  line-height: 80px;
  color: #000000;
  font-size: 16px;
  display: block;
}
.ej_more a:hover {
  color: #fff;
  background: #ca0a15;
}
.ej_tit1 {
  font-size: 36px;
  color: #000000;
}
.case_main1 {
  padding-bottom: 30px;
}
.case_main1 .index_tit .hengxian {
  margin-top: 20px;
}
.case_main1 .case_m .ej_tit1 {
  margin-bottom: 20px;
}
.case_main1 .case_tx {
  margin-top: 40px;
}
.case_main1 .case_tx .case_bigpic {
  margin-right: 345px;
  position: relative;
}
.case_main1 .case_tx .case_bigpic .pic1 {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  opacity: 0;
}
.case_main1 .case_tx .case_bigpic .pic1:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.case_main1 .case_tx .case_bigpic .pic1 img {
  width: 100%;
}
.case_main1 .case_tx .case_bigpic .pic1.on {
  position: static;
  opacity: 1;
}
.case_main1 .case_tx .case_smallpic {
  right: 0;
  top: 0;
  width: 315px;
  background: #ebebeb;
  bottom: 0;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 25px;
  padding-right: 25px;
}
.case_main1 .case_tx .case_smallpic .prev {
  width: 100%;
  height: 40px;
  position: absolute;
  top: 5px;
  left: 0;
  background: url(../images/shangjian.png) no-repeat center center;
  cursor: pointer;
}
.case_main1 .case_tx .case_smallpic .next {
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 5px;
  left: 0;
  background: url(../images/xiajian.png) no-repeat center center;
  cursor: pointer;
}
.case_main1 .case_tx .case_smallpic .swiper-container {
  height: 100%;
}
.case_main1 .case_tx .case_smallpic .swiper-container .swiper-slide {
  padding-top: 11px;
  padding-bottom: 11px;
}
.case_main1 .case_tx .case_smallpic .swiper-container .swiper-slide .item {
  height: 100%;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}
.case_main1 .case_tx .case_smallpic .swiper-container .swiper-slide .item:before {
  content: '';
  width: 100%;
  height: 100%;
  border: solid 3px #ca0a15;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.case_main1 .case_tx .case_smallpic .swiper-container .swiper-slide .item.on:before {
  opacity: 1;
}
.case_main1 .case_tx .case_smallpic .swiper-container .swiper-slide .item img {
  height: 100%;
}
.ejbanner {
  margin-top: -100px;
  background-size: cover!important;
}
.ejbanner img {
  display: none;
}
.ejbanner .ejb_abs {
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.ejbanner .ejb_abs .tit {
  color: #ffffff;
  font-size: 40px;
  line-height: 40px;
}
.ejbanner .ejb_abs .tit1 {
  color: #ffffff;
  font-size: 62px;
  font-weight: bold;
  line-height: 62px;
  margin-top: 30px;
  margin-bottom: 45px;
}
.ejbanner .ejb_abs .hengxian {
  background-color: #ca0a15;
  width: 34px;
  height: 5px;
}
.ejbanner1 {
  margin-top: -100px;
  background-size: cover!important;
  height: 560px;
}
.ejbanner1 img {
  display: none;
}
.ejbanner1 .ejb_abs {
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-top: 30px;
}
.ejbanner1 .ejb_abs .tit {
  color: #ffffff;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
}
.ejbanner1 .ejb_abs .tit1 {
  color: #ffffff;
  font-size: 57px;
  font-weight: bold;
  line-height: 57px;
  margin-top: 15px;
  margin-bottom: 35px;
}
.ejbanner1 .ejb_abs .hengxian {
  background-color: #ca0a15;
  width: 34px;
  height: 5px;
}
.modal_main {
  background-size: cover!important;
  padding-top: 50px;
  padding-bottom: 118px;
  min-height: 610px;
}
.modal_main .m_pic {
  position: absolute;
  right: 15px;
  top: 0;
}
.modal_main .m_pic .pic1 {
  width: 523px;
  height: 606px;
}
.modal_main .m_pic .pic1:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.modal_main .m_pic .pic1 img {
  width: 100%;
}
.modal_main .m_pic .more a {
  background: url(../images/hengxian1.png) no-repeat 120px center #ca0a15;
  width: 207px;
  height: 60px;
  line-height: 60px;
  padding-left: 30px;
  text-align: left;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
}
.modal_main .m_cont {
  margin-right: 640px;
}
.modal_main .m_cont .tit {
  color: #000000;
  font-size: 22px;
  margin-top: 84px;
  margin-bottom: 30px;
}
.modal_main .m_cont .note {
  color: rgba(0, 0, 0, 0.7);
  font-size: 17px;
  line-height: 26px;
}
.modal_main2 {
  background: #efefef;
  padding-top: 150px;
  padding-bottom: 75px;
}
.modal_main2 .m2_cont {
  margin-top: 20px;
}
.modal_main2 .m2_cont .row {
  margin-left: -10px;
  margin-right: -10px;
}
.modal_main2 .m2_cont .row .col-xs-12 {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
}
.modal_main2 .m2_cont .row .col-xs-12 img {
  width: 100%;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.modal_main2 .m2_cont .row .col-xs-12 .item {
  position: relative;
  overflow: hidden;
}
.modal_main2 .m2_cont .row .col-xs-12 .item:hover .pic img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.modal_main2 .m2_cont .row .col-xs-12 .item:hover .item_abs {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.modal_main2 .m2_cont .row .col-xs-12 .item .item_abs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(202, 10, 19, 0.9);
  opacity: 0;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.modal_main2 .m2_cont .row .col-xs-12 .item .item_abs .item_abs1 {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  padding: 0 75px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.modal_main2 .m2_cont .row .col-xs-12 .item .item_abs .item_abs1 .tit {
  border-top: solid 1px #fff;
  border-bottom: solid 1px #fff;
  line-height: 32px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.modal_main2 .m2_cont .row .col-xs-12 .item .item_abs .item_abs1 .tit a {
  color: #fff;
  font-size: 24px;
}
.modal_main2 .m2_cont .row .col-xs-12 .item .item_abs .item_abs1 .note {
  padding-top: 20px;
  text-align: center;
}
.modal_main2 .m2_cont .row .col-xs-12 .item .item_abs .item_abs1 .note a {
  color: rgba(255, 255, 255, 0.7);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
}
.modal_main2 .m2_cont .row .col-xs-12 .item .item_abs .item_abs1 .note a:hover {
  color: #fff;
}
.news_main1 {
  padding-top: 60px;
  padding-bottom: 60px;
}
.news_main1:hover .pic img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.news_main1 .pic {
  width: 700px;
  height: 403px;
}
.news_main1 .pic img {
  width: 100%;
  height: 100%;
}
.news_main1 .cont {
  margin-left: 745px;
}
.news_main1 .cont .date {
  color: #ca0a13;
  font-weight: bold;
  font-size: 18px;
}
.news_main1 .cont .date span {
  font-size: 48px;
}
.news_main1 .cont .date .xiexian {
  width: 24px;
  height: 26px;
  margin-left: 10px;
  display: inline-block;
  background: url(../images/xiexian2.png) no-repeat center center;
}
.news_main1 .cont .tit {
  margin-top: 25px;
}
.news_main1 .cont .tit a {
  color: #232323;
  font-size: 26px;
  line-height: 32px;
}
.news_main1 .cont .note {
  color: rgba(35, 35, 35, 0.6);
  font-size: 16px;
  line-height: 32px;
  overflow: hidden;
  height: 96px;
  margin-top: 20px;
}
.news_main1 .cont .more {
  margin-top: 100px;
}
.news_main1 .cont .more a {
  background: #ca0a15;
  width: 183px;
  height: 60px;
  text-align: center;
  line-height: 56px;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  display: block;
}
.news_main2 {
  padding-bottom: 60px;
}
.news_main2 .item {
  margin-bottom: 40px;
  position: relative;
}
.news_main2 .item:hover .pic img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.news_main2 .item:hover .cont .date {
  color: #ca0a13;
}
.news_main2 .item:hover .cont .date .xiexian {
  background: url(../images/xiexian2.png) no-repeat center center;
}
.news_main2 .item:hover .cont .more a {
  background: #ca0a13;
}
.news_main2 .item .pic {
  width: 391px;
  height: 226px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.news_main2 .item .pic img {
  width: 100%;
  height: 100%;
}
.news_main2 .item .cont {
  margin-left: 290px;
  padding: 35px 45px 45px 160px;
  position: relative;
  background: #efefef;
}
.news_main2 .item .cont .date {
  color: #8b8b8b;
  font-weight: bold;
  font-size: 18px;
}
.news_main2 .item .cont .date span {
  font-size: 48px;
}
.news_main2 .item .cont .date .xiexian {
  width: 24px;
  height: 26px;
  margin-left: 10px;
  display: inline-block;
  background: url(../images/xiexian.png) no-repeat center center;
}
.news_main2 .item .cont .tit {
  margin-top: 25px;
}
.news_main2 .item .cont .tit a {
  color: #232323;
  font-size: 26px;
  line-height: 32px;
}
.news_main2 .item .cont .note {
  color: rgba(35, 35, 35, 0.6);
  font-size: 16px;
  line-height: 32px;
  overflow: hidden;
  height: 64px;
  margin-top: 20px;
}
.news_main2 .item .cont .more {
  position: absolute;
  right: 0;
  bottom: 0;
}
.news_main2 .item .cont .more a {
  background: #8b8b8b;
  width: 183px;
  height: 60px;
  text-align: center;
  line-height: 56px;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  display: block;
}
.pages {
  color: #717171;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.pages a {
  color: #717171;
  display: inline-block;
  margin-left: 11px;
  margin-right: 11px;
}
.pages a:hover,
.pages a.on {
  color: #ca0a13;
  border-bottom: solid 2px #ca0a13;
}
.newsbg1 {
  background: url(../images/newsbg1.png) no-repeat center top #efefef;
}
.breadCrumb {
  padding-top: 10px;
  line-height: 70px;
  color: #000000;
  font-size: 16px;
}
.breadCrumb .fl a {
  color: #000;
}
.breadCrumb .fl a:hover {
  color: #ca0a13;
}
.breadCrumb .fr {
  margin-top: 18px;
}
.breadCrumb .fr a {
  background-color: #ca0a15;
  width: 100px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  display: block;
  color: #fff;
}
.news_details {
  padding-bottom: 55px;
}
.news_details .news_d {
  background: #fff;
  padding-top: 55px;
  padding-bottom: 60px;
}
.news_details .news_d .news_tit {
  color: #000000;
  font-size: 32px;
  line-height: 32px;
}
.news_details .news_d .note {
  margin-top: 30px;
}
.news_details .news_d .note > .dib {
  color: rgba(0, 0, 0, 0.3);
  font-size: 16px;
  margin-left: 20px;
  margin-right: 20px;
  text-transform: uppercase;
}
.news_details .news_d .note > .dib img {
  margin-right: 5px;
}
.news_details .news_d .note > .dib span {
  color: rgba(0, 0, 0, 0.7);
}
.news_details .news_d .note > .dib .item {
  border-radius: 50%;
  background-color: #f2f2f2;
  width: 40px;
  height: 40px;
  margin-right: 15px;
  position: relative;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.news_details .news_d .note > .dib .item:hover {
  background: #ca0a13;
}
.news_details .news_d .note > .dib .item:hover img.imgga {
  opacity: 0;
}
.news_details .news_d .note > .dib .item:hover img.imggb {
  opacity: 1;
}
.news_details .news_d .note > .dib .item img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.news_details .news_d .note > .dib .item img.imggb {
  opacity: 0;
}
.news_details .news_d .cont {
  margin-top: 60px;
  max-width: 777px;
  padding-left: 15px;
  padding-right: 15px;
  color: #000000;
  font-size: 16px;
  line-height: 26px;
  padding-bottom: 100px;
}
.news_details .news_d .cont img {
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 100%;
}
.fanye {
  border-top: solid 1px #e5e5e5;
  border-bottom: solid 1px #e5e5e5;
  line-height: 32px;
  padding-top: 17px;
  padding-bottom: 17px;
  margin-left: 35px;
  margin-right: 35px;
}
.fanye a {
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
  max-width: 45%;
}
.fanye a:hover {
  color: #ca0a13;
}
.fanye .fy_menu {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.ejbanner .ejb_abs .tit2 {
  color: #ffffff;
  font-size: 57px;
}
.ejbanner .ejb_abs .tit3 {
  color: #fff;
  font-size: 23px;
  margin-top: 25px;
  margin-bottom: 70px;
}
.fw_main1 {
  padding-top: 90px;
  padding-bottom: 130px;
  background: #f4f4f4;
}
.fw_main1 .map {
  width: 864px;
  position: relative;
  z-index: 4;
}
.fw_main1 .map img {
  width: 100%;
}
.fw_main1 .map .map_dian {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #5f5f5f;
  font-size: 26px;
  font-weight: bold;
}
.fw_main1 .map .map_dian .item {
  width: 60px;
  position: absolute;
  text-align: center;
  cursor: pointer;
}
.fw_main1 .map .map_dian .item:nth-child(1) {
  top: 26.6%;
  left: 71%;
}
.fw_main1 .map .map_dian .item:nth-child(2) {
  top: 15.9%;
  left: 82.8%;
}
.fw_main1 .map .map_dian .item:nth-child(3) {
  top: 39.8%;
  left: 57.8%;
}
.fw_main1 .map .map_dian .item:nth-child(4) {
  top: 51.5%;
  left: 67.1%;
}
.fw_main1 .map .map_dian .item.on .icon {
  background: url(../images/yuandian2.png) no-repeat center center;
}
.fw_main1 .map .map_dian .item .icon {
  width: 44px;
  height: 44px;
  background: url(../images/yuandian1.png) no-repeat center center;
  margin-left: auto;
  margin-right: auto;
}
.fw_main1 .fy_m1 {
  top: 175px;
  left: 15px;
  width: 100%;
}
.fw_main1 .fy_m1 .item {
  opacity: 0;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}
.fw_main1 .fy_m1 .item.on {
  opacity: 1;
  z-index: 2;
}
.fw_main1 .fy_m1 .item .item_top {
  background-color: #ffffff;
  width: 479px;
  height: 479px;
  border-top: solid 5px #ca0a15;
  padding-top: 25px;
  padding-left: 48px;
  padding-right: 48px;
}
.fw_main1 .fy_m1 .item .item_top .tit {
  color: #000000;
  font-size: 34px;
  line-height: 34px;
  margin-top: 25px;
}
.fw_main1 .fy_m1 .item .item_top .note {
  color: rgba(0, 0, 0, 0.8);
  font-size: 18px;
  margin-top: 65px;
  line-height: 32px;
  font-weight: bold;
}
.fw_main1 .fy_m1 .item .item_top .note1 {
  margin-top: 35px;
  color: #000000;
  font-size: 16px;
}
.fw_main1 .fy_m1 .item .item_top .note1 span {
  color: #a0a0a0;
}
.fw_main1 .fy_m1 .item .item_bot {
  margin-top: 40px;
}
.fw_main1 .fy_m1 .item .item_bot .hengxian {
  margin-bottom: 25px;
  background-color: #ca0a13;
  width: 32px;
  height: 4px;
}
.fw_main1 .fy_m1 .item .item_bot .cont {
  color: rgba(0, 0, 0, 0.8);
  font-size: 18px;
  margin-right: 380px;
  line-height: 34px;
}
.fw_main2 {
  padding-top: 110px;
}
.fw_main2 .fw_m2 {
  margin-top: 55px;
}
.fw_main2 .fw_m2 .item:hover .item_abs {
  opacity: 0;
}
.fw_main2 .fw_m2 .item:hover .item1 {
  opacity: 1;
}
.fw_main2 .fw_m2 .item_abs {
  height: 145px;
  background: rgba(0, 0, 0, 0.6);
  line-height: 145px;
  color: #ffffff;
  font-size: 28px;
  bottom: 0;
  left: 0;
  width: 100%;
}
.fw_main2 .fw_m2 .item1 {
  background: rgba(202, 10, 19, 0.9);
  height: 700px;
  opacity: 0;
}
.fw_main2 .fw_m2 .item1 .item2 {
  padding-top: 60px;
  padding-left: 85px;
  padding-right: 85px;
}
.fw_main2 .fw_m2 .item1 .item2 .tit {
  color: #ffffff;
  font-size: 28px;
  line-height: 28px;
}
.fw_main2 .fw_m2 .item1 .item2 .hengjian {
  width: 100%;
  margin-top: 30px;
}
.fw_main2 .fw_m2 .item1 .item2 .cont {
  height: 500px;
  overflow-y: auto;
  margin-top: 20px;
}
.fw_main2 .fw_m2 .item1 .item2 .cont .itemm {
  margin-top: 20px;
}
.fw_main2 .fw_m2 .item1 .item2 .cont .itemm:nth-child(1) {
  margin-top: 0;
}
.fw_main2 .fw_m2 .item1 .item2 .cont .itemm .tit1 {
  color: #ffffff;
  font-size: 22px;
}
.fw_main2 .fw_m2 .item1 .item2 .cont .itemm .note1 {
  margin-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
.fw_main2 .fw_m2 .item1 .item2 .cont .itemm .note1 .itemm1 {
  color: #fff;
  font-size: 18px;
  margin-left: 12px;
  margin-right: 12px;
}
.fw_main2 .fw_m2 .item1 .item2 .cont .itemm .note1 .itemm1 img {
  width: auto!important;
  display: inline-block;
}
.fw_main3 {
  background: #f4f4f4;
  padding-top: 90px;
  padding-bottom: 90px;
}
.fw_main3 .fw_m3 {
  margin-left: 180px;
  margin-right: 100px;
  background: #fff;
  margin-top: 30px;
}
.fw_main3 .fw_m3 .m3_right {
  right: 0;
  top: 0px;
  width: 540px;
  height: 660px;
}
.fw_main3 .fw_m3 .m3_right .tit {
  position: absolute;
  width: 100%;
  top: -136px;
  left: 0;
  height: 136px;
  background: #ca0a13;
  line-height: 136px;
  text-align: center;
  color: #fff;
  font-size: 43px;
  font-weight: bold;
}
.fw_main3 .fw_m3 .m3_right .pic img {
  width: 100%;
}
.fw_main3 .fw_m3 .m3_left {
  margin-right: 700px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 90px;
  height: 660px;
}
.fw_main3 .fw_m3 .m3_left .cont {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 50px;
}
.fw_main3 .fw_m3 .m3_left .cont .note {
  color: #4f4f4f;
  font-size: 18px;
  line-height: 32px;
}
.fw_main3 .fw_m3 .m3_left .cont .tit1 {
  margin-top: 25px;
  margin-bottom: 25px;
  color: #ca0a13;
  font-size: 22px;
  font-weight: bold;
}
.ejbanner_word {
  position: absolute;
  bottom: 90px;
  right: 260px;
  color: #fff;
  font-size: 22px;
  line-height: 38px;
}
